html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
  font-family: Helvetica, sans-serif;
}

.textbox {
	border: 2px solid #e7e7e7;
	padding: 15px 15px;
	margin: 15px;
	font-size: 24px;
}

.inputfield {
	outline: 0;
	border: 2px solid #e7e7e7;
	padding: 15px 15px;
	margin: 15px;
	font-size: 16px;	
}

